* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #FFFFFF;
    height: 90vh;
    width: 70vh;
}

.forma {
    max-width: 500px;
    margin: 0.7rem auto;
    padding: 1rem;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    font-size: 20px;
    color: grey;
}

input {
    height: 35px;
    width: 30vh;
}

#pavadinimas {
    margin: 20px;
    font-weight: bold;
}

.pasto_kodas {
    background-color: grey;
    opacity: 0.5;
}

.submit_mygtukas {
    height: 40px;
    width: 130px;
    border-radius: 5px;
    border: none;
    background-color: #494949;
    font-size: 17px;
    color: #DFDFDF;
}